#italic{ /*Classes: Soul Reaper e Star Emperor*/
    font-style: $font-italic; 
}
.carrossel{
    margin: 1%;
    position: $relativep;
    width: $lgvc;
    height: auto;
}
#carrosseldireita{
    float: right;
}
#carrosselesquerda{
    float: left;
}
.group:before,
.group::after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.atalhoparagrafo{
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}
.blacktextcolor{
    color: $color-textblack;
}
#logonro{
    position: absolute;
    margin-top: 1%;
    margin-left: 45.026041%;
}
#menezas{
    @include charmain;
    margin-top: 12%;
    margin-left: 30%;
}
#jkyontank{
    @include charmain;
    margin-top: 12%;
    margin-left: 50%;
}
#paparapoza{
    @include charmain;
    margin-top: 25%;
    margin-left: 30%;
}
.garronathsize{
    width: 285px;
    height: 363px;
}