body{
    background-color: $color-background;
}
#italic{
    font-style: $font-italic;
}
.carrossel{
    position: $absolutep;
    width: $lgvc;
    height: auto;
}
#carrosseldireita{
    right: 1%;
    float: right;
}
#carrosselesquerda{
    left: 1%;
    float: left;
}
.group:before,
.group::after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.atalhoparagrafo{
    width: $lgvc;
    margin: 1%;
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}
#viajemrapidadireita{
    right: 1%;
}
.posabsolute{
    position: $absolutep;
}
.blacktextcolor{
    color: $color-textblack;
}
